.loaderBody{
    color: var(--text-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: var(--pixel-font);
    font-size: 10em;
}
    .loaderBody img{
        height: 1em;
        width: 1em;
    }