.loaderBody{
    color: var(--text-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/BodyBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .loaderBody h1{
        font-family: var(--pixel-font);
        color: var(--text-color);
        font-size: 10em;
    }