.userInfoBody{
    grid-area: 6 / 1 / 10 / 4;
    padding: 1em;
    border: var(--black-border);
    background-color: var(--black-background);
    font-family: var(--pixel-font);
    box-shadow: var(--elements-shadow);
}
.userInfoContent{
    height: 100%;
    gap: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .connectBtn{
        padding: .5em;
        border: var(--black-border);
        background-color: var(--black-background);
        text-align: center;
        backdrop-filter: blur(1px);
    }
        .connectBtn button{
            font-size: 1em;
            padding: 1em;
        }
    .userStatistic{
        display: flex;
        flex-direction: column;
        gap: .5em;
        color: var(--text-color);
    }
        .tokenOwned,
        .totalSupply,
        .tokenLeft{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: var(--black-border);
            background-color: var(--black-background);
            font-size: .8em;
            padding: .3em;
            backdrop-filter: blur(1px);
        }