.tokenSaleBody{
    grid-area: 2 / 1 / 6 / 4;
    padding: 1em;
    border: var(--black-border);
    background-color: var(--black-background);
    font-family: var(--pixel-font);
}
.tokenSaleContent{
    height: 100%;
    display: flex;
    gap: .5em;
    justify-content: space-between;
    flex-direction: column;
}
    .containerName{
        border: var(--black-border);
        background-color: var(--black-background);
        color: var(--text-color);
        font-size: .7em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 100%;
        backdrop-filter: blur(1px);
    }
    .liveContainer{
        border: var(--black-border);
        background-color: var(--black-background);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 1em;
        height: fit-content;
        font-size: .7em;
        backdrop-filter: blur(1px);
    }
        .liveContainer p{
            color: red;
            height: fit-content;
            padding-top: .5em;
        }
        .redCircle{
            border-radius: 50%;
            height: .9em;
            width: .9em;
            background-color: red;
            padding-top: .5em;
            animation: pulse 1.5s infinite;
        }
        @keyframes pulse {
            0%,
            100%{
                background-color: rgb(100, 0, 0);
            }
            50%{
                background-color: red;
            }
        }
        .liveTimer{
            color: var(--text-color);
            height: fit-content;
            padding-top: .5em;
        }
    .stageContainer{
        border: var(--black-border);
        background-color: var(--black-background);
        color: var(--text-color);
        padding: 1em;
        font-size: .7em;
        text-align: center;
        backdrop-filter: blur(1px);
    }
        .stageContainer p{
            padding-top: .5em;
        }
    .buyNowBtn{
        border: var(--black-border);
        background-color: var(--black-background);
        padding: .5em;
        text-align: center; 
        backdrop-filter: blur(1px); 
    }
        .buyNowBtn button{
            box-shadow: 5px 5px 0px var(--main-btn-shadow);
            background-color: #4e4b00;
            padding: .5em;
            animation: buyBtnBlinking 1.5s infinite;
        }
        .buyNowBtn button:hover{
            box-shadow: 0px 0px 100px #fff700,
                        5px 5px 0px var(--main-btn-shadow);
            animation: none;
        }
        .buyNowBtn button:active {
            box-shadow: none;
            transform: translate( 5px, 5px);
        }
        @keyframes buyBtnBlinking {
            0%, 20%, 45%, 60%, 75%, 90%, 100% {
                box-shadow: 0px 0px 100px #fff700;
                background-color: var(--main-btn-bg);
            }
            10%, 30%, 55%, 70%, 80%, 95% {
                background-color: #4e4b00;
                box-shadow: 5px 5px 0px var(--main-btn-shadow);
            }
        }
        